Repository KartoonYoko/momo-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_ansible, trigger_terraform

.gitlab-ci.yml:

stages:
  - triggers

trigger_ansible:
  stage: triggers
  trigger:
    include: 
      - "ansible/.gitlab-ci.yml"
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'
      changes:
        - ansible/**/*

trigger_terraform:
  stage: triggers
  trigger:
    include: 
      - "terraform/.gitlab-ci.yml"
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'
      changes:
        - terraform/**/*

доработка пользователя для запуска контейнеров
  ansible/group_vars/vm-momo.yml
  ansible/roles/docker-compose-install/tasks/main.yml
Due: trigger_ansible

обновлены readme файлики
  README.md
  ansible/Readme.md
  terraform/Readme.md
Due: trigger_ansible, trigger_terraform

Docker login
  ansible/.gitlab-ci.yml
  ansible/group_vars/vm-momo.yml
  ansible/roles/docker-compose-install/tasks/main.yml
Due: trigger_ansible

Правка readme
  README.md
Due: none

Обновит описание репозитория
  README.md
Due: none

Изменит описание
  README.md
Due: none
